      <hr>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
 <div class="container">
  <div class="collapse navbar-collapse" id="navbar01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="https://github.com/An-Idiots-Guide/guidebot"><i class="fa fa-code-fork  fa-fw"></i> Código Baseado em An Idiot's GuideBot</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/YorkAARGH/York-Dev"><i class="fa fa-code-fork  fa-fw"></i> Painel Baseado em 'The York-Dev Bot'</a></li>
        <li class="nav-item"><a class="nav-link" href="/legal"><i class="fa fa-gavel fa-fw"></i> Legalidade</a></li>
        <a href=""><li class="nav-item"><a class="nav-link" href="#top"><i class="fa fa-arrow-up  fa-fw"></i> De volta ao topo</a></li></a>
       </ul>
    </div>
  </div>
</nav>

  </body>
</html>
